*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  height:100%;  
  display: flex;
  text-align: left;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 100%;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  min-height: 534px;
  justify-content: center;
  display: flex;
  margin: auto;
  gap: 30px;
}

.result {
  align-self: end;
}

.result__video-container {
  position: relative;
  height: 386px;
  inline-size: 711px; 
  margin: 0 0 16px 0;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form { /*форма с настройками показа*/
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.search-form__fieldset { /*форма вывода по признаку город*/
  border: none;
}

.search-form__fieldset-title {  /*поле город*/
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label { /*поле ввода города*/
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  margin-right: 11px;
}

.search-form__label:has(.search-form__checkbox):hover  {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox):active {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}


.visually-hidden { /*скрыть браузерные стили*/
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

 input::placeholder { /*плейсхолдер*/
  color: #FFFFFFB2;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
  color: #fff;
  appearance: none; /*сброс системных стилей */
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible { /* выделение элемента в фокусе*/
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active { /*стили при нажатии на плейсхолдер*/
  outline: 1px solid #fff;
  border: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked +.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  width: 15px; 
  height: 15px;
  top: 1px;
  left: 1px; 
  bottom: 1px;
  background-color: #fff; 
}

.button { /*кнопка найти*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 34px;
  padding: 0;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.button:focus-visible { /*добавила точку перед button и все заработало*/
  outline: 1px solid #fff;
  outline-offset: 1px;
}
  

button:hover { /*состояние при наведении курсора*/
  text-decoration: underline;
  text-underline-offset: 4px;
}

button:active {  /*когда нажала*/
  outline: none;
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
}

.content__details { /*секция с контентом*/
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
  width: 399px;
}

.title { /*контейнер названия*/
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  width: 260px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0em;
}

.content__accent { 
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin: 0 0 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__card-link:active {
  outline: none;
}

.content__card-link_current {
  display: block;
  background: #545050;
}

.content__video-card {
  display: flex;
  height: 107px;
}

.content__video-card-description-container {
  width: 195px;
  height: 100%;
}

.input{
  appearance: none;
}

.content__video-card-title { /*название видео(город)*/
  font-family: Oswald, sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {  /*время суток*/
  font-family: 'Fira Sans Condensed' , sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail { /*миниатюра видео*/
  width: 178px;
  height: 103px;
  margin: auto;
  object-fit: contain;
}

.more-button {
  background-color: transparent;
  width: 100%;
  height: 34px;
}